/*TODO: arquivo de fontes separado! */
@font-face {font-family: "HansomFYW01"; src: url("//db.onlinewebfonts.com/t/c38654d2569f9912aa3e7247fcee88fa.eot"); src: url("//db.onlinewebfonts.com/t/c38654d2569f9912aa3e7247fcee88fa.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c38654d2569f9912aa3e7247fcee88fa.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c38654d2569f9912aa3e7247fcee88fa.woff") format("woff"), url("//db.onlinewebfonts.com/t/c38654d2569f9912aa3e7247fcee88fa.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c38654d2569f9912aa3e7247fcee88fa.svg#HansomFYW01-Italic") format("svg"); }
@font-face {font-family: "Hansom FY"; src: url("//db.onlinewebfonts.com/t/4c89adc42cbc275c57589d90be76f8c5.eot"); src: url("//db.onlinewebfonts.com/t/4c89adc42cbc275c57589d90be76f8c5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4c89adc42cbc275c57589d90be76f8c5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4c89adc42cbc275c57589d90be76f8c5.woff") format("woff"), url("//db.onlinewebfonts.com/t/4c89adc42cbc275c57589d90be76f8c5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4c89adc42cbc275c57589d90be76f8c5.svg#Hansom FY") format("svg"); }

/* soft reset do css  */
* {
    box-sizing: border-box; /* preserva o tamanho do elemento se tiver width definido */
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: 0;
}

html {
    /* 10px = 1rem */
    font-size: 62.5%;
}

html,
body {
    font-family: "Hansom FY";
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

b {
    font-family: "HansomFYW01";;
}

/* MENU SANDUICHE */

/* FIM MENU SANDUICHE */

header {
    background: url("../img/bg-header.png") no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

/* INICIO MENU */
.menu-section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto; 
}

.img-logo {
    width: 180px;
    margin: 0 20px;
    padding: 20px 0;
}

.menu-header {
    background: #30a7ea;
    border-bottom-left-radius: 30px;
    width: -webkit-fill-available;
}

.menu-header ul {
    display: flex;
    height: 110px;
    align-items: center;
}

.menu-header ul li {
    margin: 0 auto;
}

.menu-header ul li:last-child {
    padding-bottom: 20px;
}

.menu-header ul li a{
    color: white;
    font-family: "HansomFYW01";
    font-size: 2.5rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
    text-transform: uppercase;
    width: max-content;
}

#btn-personalizado {
    background: #182458;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: "HansomFYW01";
    font-size: 2rem;
    padding: 15px;
    width: max-content;
}
.menu-header ul li a:hover{
    text-decoration: underline;
}
/* FIM MENU */
/* INICIO CONTEUDO HEADER */
.content-header {
    /*align-items: center;*/
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    /*margin: auto;*/
    max-width: 1200px;
    width: 90%;
}

.text-header {
    color: white;
    text-transform: uppercase;
    padding-top: 50px;
    margin: 0 auto;
}

.text-header h1 {
    font-size: 10rem;
    font-weight: 100;
    line-height: .9em;
    padding-bottom: 15px;
}

.text-header h2 {
    font-size: 3rem;
    font-weight: 100;
    line-height: .9em;
}

.img-header img {
    display: block;
    max-height: 750px;
    max-width: 100%;
    /*min-width: 430px;  imagem acima do texto quando atingir min 430px */
}
/* FIM CONTEUDO HEADER */
/* INICIO CONTEUDO CHOCO */
.text-choc-section {
    background: url("../img/bg-choco2.png") no-repeat;
    background-size: 100vw 120vh;
    height: 120vh;
}

.text-choc-section p {
    color: #30a7ea;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    padding-top: 150px;

    margin: 0 auto;
    max-width: 1200px;
}
/* FIM CONTEUDO CHOCO */
/* INICIO VIDEO */
.video-section {
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    max-width: 1200px;
}
.video-section img {
    cursor: pointer;
    display: block;
    height: 80vh;
    width: 100%;
}
.video-section iframe {
    display: block;
    height: 80vh;
    width: 100%;
}
/* FIM VIDEO */
/* INICIO INFO*/
.info-section {
    color: #30a7ea;   
    font-size: 4rem;
    font-weight: 100;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto; 
}
.table-info img {
    display: block;
    margin: 0 auto;
    max-height: 750px;
    max-width: 100%;
    padding-left: 40px;
}
/* FIM INFO */
/* INICIO SLIDER PRODUTOS */
.produtos {
    padding-top: 120px;
    max-width: 1200px;
    margin: 40px auto;
}
.produtos-item {
    border-left: 1px solid grey;
}
.produtos-button {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
/* FIM SLIDER PRODUTOS */
/* INICIO SOBRE A VAQUINHA */
.sobre-section {
    background: url("../img/bg-sobre.png") no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-vaquinha {
    width: 100%;
}
.img-vaquinha img {
    display: block;
    margin-left: 25%;
    max-height: 750px;
    max-width: 100%;
}
.text-sobre {
    color: white;
    display: block;
    font-weight: 100;
    text-align: left;
    width: -webkit-fill-available;
}
.text-sobre h3 {
    font-size: 4rem;
    padding: 10px 0;
}
.text-sobre h1 {
    font-size: 10rem;
    line-height: .9em;
    text-transform: uppercase;
}
.text-sobre p {
    font-size: 2.5rem;
    line-height: 1em;
}
/* FIM SOBRE A VAQUINHA */
/* INICIO SAIBA MAIS */
.saibamais-section {
    background: url("../img/bg-whey.png");
    background-size: 100vw 80vh;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-saibamais {
    color: #30a7ea;
    text-align: center;
}
.text-saibamais h1 {
    font-size: 10rem;
    line-height: .8em;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.text-saibamais p {
    font-size: 2.5rem;
}
.saibamais-button {
    padding-top: 30px; 
}
/* FIM SAIBA MAIS */
/* INICIO LOCAL */
.mapa-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}
.mapa-img img {
    display: block;
    max-width: 100%;
    margin-right: 20px;
}
.text-mapa {
    color: #30a7ea;
    font-weight: 100;
}
.text-mapa h1 {
    font-size: 8rem;
    line-height: 1em;
    text-transform: uppercase;
}
.text-mapa p {
    font-size: 2.5em;
    padding: 10px 0;
    margin-bottom: 20px;
}
/* FIM  LOCAL */
/* INICIO FEEDBACK */
.feedback-section {
    background: url("../img/bg-feedback.png");
    background-size: 100vw 100vh;
    height: 100vh;
}
.feedback-container {
    max-width: 1200px;
    margin: 0 auto;
}
.feedback-section h1 {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 200px;
    color: white;
    font-size: 6rem;
    text-transform: uppercase;
}
/* FIM FEEDBACK */
/* INICIO FORM */
.form-section {
    background: url("../img/bg-form.png") no-repeat;
    background-size: 100vw 80vh;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-info {
    text-align: left;
    color: white;
    height: 60%;
    margin: 0 auto;
}
.form-info h1 {
    font-size: 10rem;
    line-height: .9em;
    text-transform: uppercase;
}
.form-info p {
    font-size: 2.5rem;
    line-height: 1.5em;
}
.newsletter-form {
    display: flex;
    margin: 0 auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.newsletter-form input {   
    border-radius: 20px; 
    border: 1px solid grey;
    margin-bottom: 20px;
    width: 80%;
}
.newsletter-form input::placeholder {
    color: #30a7ea;
    padding-left: 10px;
    text-transform: uppercase;
}
.newsletter-form input[type=text] {
    height: 40px;
}
.newsletter-form input[type=textarea] {
    text-align: start;
    height: 100px;
}
/* FIM FORM */
/* INICIO FOOTER */
footer {
    align-items: center;
    background-color: #182458;
    bottom: 0;
    display: flex;
    font-size: 4rem;
    height: 140px;
    justify-content: space-around;
    padding: 10px;
}

.fab {
    color: white;
}

.icons-footer ul{
    align-items: center;  
    display: flex;
}

.icons-footer ul li{
    padding: 0 20px;
}
/* FIM FOOTER */