/* media queries */
html {
    font-size: 50%;
}

@media (max-width: 1400px) {
    .img-header img {
        max-height: 600px;
    }
}

@media (max-width: 1070px) {
    .menu-header ul li a, #btn-personalizado {
        font-size: 2rem;
    }
}
@media (max-width: 940px) {
    .menu-header ul li a, #btn-personalizado {
        font-size: 1.7rem;
    }
}
@media (max-width: 870px) {
    .video-section {
        height: max-content;
        margin: 0 20px;
    }
    .info-section {
        height: 70vh;
    } 
    .img-vaquinha img {
        margin-left: 15%;
    }
}
/* Aplicar menu sanduiche daqui pra baixo: */
@media (max-width: 830px) {
    .menu-header ul {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
    .menu-header ul li {
        margin: 10px;
    }
}
@media (max-width: 790px) {
    .content-header {   
        margin: 0 auto;
    }    
    .text-header h1 {
        font-size: 8.5rem;
        padding-bottom: 10px;
    }
    .text-header h2 {
        font-size: 2.8rem;
    }
    .img-vaquinha img {
        margin-left: 5%;
    }
    .text-saibamais {
        margin: 0 40px;
    }
    .text-saibamais h1 {
        padding-bottom: 0px;
    }
    .text-saibamais p {
        font-size: 3rem;
    }
    .mapa-img {
        width: 280px;
        margin: 0 20px;
    }
}
@media (max-width: 640px) {
    .text-choc-section {
        background-size: 100vw 100vh;
        height: 100vh;
    }
    .video-section img, .video-section iframe {
        height: 40vh;
    }
    .saibamais-section {
        background: white;
    }
    .text-saibamais h1 {
        padding-bottom: 20px;
    }
    .mapa-section {
        height: max-content;
    }
    .text-mapa h1 {
        font-size: 7rem;
    }
    .sobre-section {
        background: #30a7ea;
        flex-direction: column-reverse;
    }
    .text-sobre {
        text-align: center;
    }
    .text-sobre h3 {
        font-size: 3.5rem;
    }
    .text-sobre h1 {
        font-size: 6rem;
    }
    .text-sobre p {
        font-size: 3rem;
    }
    .img-vaquinha {
        width: 200px;
    }
    .form-section {
        flex-direction: column;
        background-size: auto;
    }
    .form-info {
        height: auto;
        padding-top: 20px;
    }
    .form-info h1 {
        font-size: 8rem;
    }
    .newsletter-form {
        width: 100%;
    }
}
@media (max-width: 610px) {
    header {
        background-size: 100vw 70vh;
        height: 70vh;
    }
    .content-header {
        flex-direction: column;
    }
    .text-header {
        padding-top: 0;
        text-align: center;
    }
    .text-header h1 {
        font-size: 10rem;
    }
    .text-header h2 {
        font-size: 6rem;
    }
    .img-header img {
        max-height: 300px;
        margin: 0 auto;
    }
    .text-choc-section {
        background-size: 100vw 60vh;
        height: 60vh;
    }
    .text-choc-section p {
        padding-top: 120px;
    }
    .info-section {
        height: 30vh;
    }
    .sobre-section {
        height: auto;
    }
    .saibamais-section {
        height: 40vh;
    }
    .text-mapa h1 {
        font-size: 6rem;
    }
    .feedback-section {
        background-size: 100vw 40vh;
        height: 40vh;
    }
    .form-section {
        height: 40vh;
    }
    .saibamais-section {
        padding-top: 100px;
    }
    .mapa-section {
        padding-top: 100px;
    }
    .feedback-section h1 {
        padding-top: 100px;
    }
    .icons-footer ul li {
        padding: 0 10px;
    }
}

/*
1) width < 1200:
-ARRUMAR BALOES FEEDBACK jQUERY;

https://github.com/Rocketseat/youtube-masterclass-responsividade/blob/master/final/responsive.css
*/