/* media queries */
html {
    font-size: 50%;
}
#toggle, #menu {
    display: none;
}
@media (max-width: 1400px) {
    .img-header img {
        max-height: 600px;
    }
}

@media (max-width: 1070px) {
    .menu-header ul li a, #btn-personalizado {
        font-size: 2rem;
    }
}
@media (max-width: 940px) {
    .menu-header ul li a, #btn-personalizado {
        font-size: 1.7rem;
    }
}
@media (max-width: 870px) {
    .video-section {
        height: max-content;
        margin: 0 20px;
    }
    .info-section {
        height: 70vh;
    } 
    .img-vaquinha img {
        margin-left: 15%;
    }
}
/* Aplicar menu sanduiche daqui pra baixo: */
@media (max-width: 850px) {
    /*.menu-section {
        background-color: rgba(48, 167, 234, .6);
        position: fixed;
        width: 100vw;
        z-index: 10;
        display: inline-block;
    }
    .menu-section img {
        display: none;
    }*/
    .aux1 {
        position: absolute;
        z-index: 100;
    }
    .aux2 {
        padding-top: 100px;
        position: relative;
    }
    
    .menu-section {
        width: 100vw;
        display: inline-flex;
        flex-wrap: wrap;
    }
    #toggle {
        width: 28px;
        height: 30px;
        margin: 10px auto;
    }
    #toggle, #menu {
        display: flow-root;
    }
    #toggle div {
        width: 100%;
        height: 5px;
        background: white;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
    }
    #toggle.on .one {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #toggle.on .two {
        opacity: 0;
    }
    #toggle.on .three {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    .menu-header {
        display: none;
    }
    #menu {
        background-color: #30a7ea;
        border: 1px solid white;
        border-radius: 3px;
        display: none;
        height: auto;
        margin: auto;
        padding: 10px;
        position: relative;
        width: 100vw;
        z-index: 100;
    }
    .text-header {
        position: relative;
        z-index: 0;
    }
    #menu a {
        color: white;
        display: flex;
        font-size: 3em;
        justify-content: center;
        padding: 5px;
    }
    #menu a:hover {
        text-decoration: underline;
    }
    
}
@media (max-width: 790px) {
    .content-header {   
        margin: 0 auto;
    }    
    .text-header h1 {
        font-size: 8.5rem;
        padding-bottom: 10px;
    }
    .text-header h2 {
        font-size: 2.8rem;
    }
    .img-vaquinha img {
        margin-left: 5%;
    }
    .text-saibamais {
        margin: 0 40px;
    }
    .text-saibamais h1 {
        padding-bottom: 0px;
    }
    .text-saibamais p {
        font-size: 3rem;
    }
    .mapa-img {
        width: 280px;
        margin: 0 20px;
    }
}
@media (max-width: 640px) {
    .text-choc-section {
        background-size: 100vw 100vh;
        height: 100vh;
    }
    .video-section img, .video-section iframe {
        height: 40vh;
    }
    .saibamais-section {
        background: white;
    }
    .text-saibamais h1 {
        padding-bottom: 20px;
    }
    .mapa-section {
        height: max-content;
    }
    .text-mapa h1 {
        font-size: 7rem;
    }
    .sobre-section {
        background: #30a7ea;
        flex-direction: column-reverse;
    }
    .text-sobre {
        text-align: center;
    }
    .text-sobre h3 {
        font-size: 3.5rem;
    }
    .text-sobre h1 {
        font-size: 6rem;
    }
    .text-sobre p {
        font-size: 3rem;
    }
    .img-vaquinha {
        width: 200px;
    }
    .form-section {
        flex-direction: column;
        background-size: auto;
    }
    .form-info {
        height: auto;
        padding-top: 20px;
    }
    .form-info h1 {
        font-size: 8rem;
    }
    .newsletter-form {
        width: 100%;
    }
}
@media (max-width: 610px) {
    .menu-header li {
        display: none;
    }
    .content-header {
        flex-direction: column;
    }
    .text-header {
        padding-top: 0;
        text-align: center;
    }
    .text-header h1 {
        font-size: 8rem;
    }
    .text-header h2 {
        font-size: 4rem;
    }
    .img-header img {
        max-height: 300px;
        margin: 0 auto;
    }
    .text-choc-section p {
        padding-top: 120px;
    }
    .text-mapa h1 {
        font-size: 6rem;
    }
    .saibamais-section {
        padding-top: 100px;
    }
    .mapa-section {
        padding-top: 100px;
    }
    .feedback-section h1 {
        padding-top: 100px;
    }
    .icons-footer ul li {
        padding: 0 10px;
    }
}
@media (max-width: 450px) {
    .img-logo img {
        width: 60px;
    }
    .text-choc-section {
        background-size: 120vw 100vh;
        background-position-x: -40px;
    }
    .text-choc-section p {
        font-size: 3.4em;
    }
    .img-vaquinha {
        width: 100px;
    }
    .saibamais-section, .mapa-section, .feedback-section h1 {
        padding-top: 150px;
    }
    .feedback-section h1 {
        font-size: 5em;
    }
    .feedback-section img {
        width: 300px;
        padding-bottom: 100px;
    }
    .info-section {
        height: 40vh;
    }
    .produtos-item {
        width: 150px;
    }
    .mapa-section {
        display: flex;
        flex-wrap: wrap;
    }
    .mapa-section img {
        width: 200px;
        padding: 20px;
    }
}
@media (max-width: 360px) {
    html {
        font-size: 40%;
    }
    .feedback-section img {
        width: 200px;
        padding-bottom: 100px;
    }
    .footer img {
        width: 60px;
    }
}



/*
https://github.com/Rocketseat/youtube-masterclass-responsividade/blob/master/final/responsive.css
*/